#box {
  color: blue;
}

.HeadingOne {
  color: red;
  text-align: end;
  text-decoration: black wavy overline;
  font-weight: normal;
}

.HeadingTwo {
  color: green;
  text-align: start;
  text-decoration: black wavy underline;
  font-weight: bolder;
}

.HeadingThree {
  color: blue;
  text-align: center;
  text-decoration: red  wavy line-through; 
  font-weight: lighter;
}

.btn {
  color:red;
}