#navbar {
    height: 50px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-right: 10px;
}


a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}


li {
    list-style-type: none;
    display: inline;
}

body {
    padding: 0;
    margin: 0;
}


#outer {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
    width: 200px;
}

#inner  {
    display: inline;
    background-color: red;
    height: 100px;
    width: 100px;
}
